/* ---------------------------------------------------------------------------------------- */
/* - INFORMATION -------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/*   
/*   This file should contain no information about an element's colour, including border,
/*   gradients and the like.  Keep colour information in the separate
/*   style-colour-scheme.css file.
/*
/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- INFORMATION - */
/* ---------------------------------------------------------------------------------------- */

.clearboth { clear: both; }

/* ---------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------- */

img { max-width: 100%; height: auto; }

/* ---------------------------------------------------------------- */
/* Fonts
/* ---------------------------------------------------------------- */

/* Text styles */
.content p { line-height: 25px; /* text-align: justify; */ /* text-indent: 20px; */ /* Indent body text's first line */ }
.italic    { font-style: italic; }

h1 { font-size: 24px; }
h2 { font-size: 16px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }


/* ---------------------------------------------------------------- */
/* Google Fonts
/* ---------------------------------------------------------------- */

h1                 { font-family: "Coda", cursive; font-style: italic; margin-top:  0px; text-transform: uppercase; font-weight: normal; }
h2, h3, h4, h5, h6 { font-family: "Coda", cursive; font-style: italic; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; font-weight: normal; }
p                  { font-family: "Roboto", Helvetica, Arial, sans-serif; }
nav p              { font-family: "Coda", cursive; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; font-weight: normal; }
footer p           { font-family: "Roboto", cursive; margin-top: 10px; margin-bottom: 10px; font-weight: normal; }
ul, ol, li         { font-family: "Roboto", Helvetica, Arial, sans-serif; }

/* ---------------------------------------------------------------- */
/* Links
/* ---------------------------------------------------------------- */

a:link           { text-decoration: none; }
a:visited        { text-decoration: none; }
a:hover          { text-decoration: none; }
a:active         { text-decoration: none; }

footer a:link    { text-decoration: underline; }
footer a:visited { text-decoration: underline; }
footer a:hover   { text-decoration: underline; }
footer a:active  { text-decoration: underline; }

p a              { font-weight: bold; }


/* ---------------------------------------------------------------- */
/* Page layout and sections setup
/* ---------------------------------------------------------------- */

body {
	margin:  0px;
}

/* ---------------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------------- */

header {
	margin:  0px;
	padding: 20px 20px 34px 20px;
	background-color: #6a7b90;
}

header h1, header h2 {
	text-align:     center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom:  0px;
	color:          #fff;
}

header h1 {
	word-break: break-word;
}

header h2 {
	margin-top: 0px;
}

/* ---------------------------------------------------------------- */
/* Navigation
/* ---------------------------------------------------------------- */

nav {
	padding: 20px 0px 0px 0px;
	width: 370px;
	margin-left:  auto;
	margin-right: auto;
	
	background-color: #6a7b90;
}


nav div {
	height: 40px;
	width:  40px;
	margin-left:  5px;
	margin-right: 5px;
	float: left;
	
	border-radius: 50%;
	width:  60px;
	height: 60px;
	
	background-color: #6a7b90;
}

.nav-button p {
	color: #fff;
	text-align: center;
	padding-top: 9px;
	font-size: 12px;
}

/* ---------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------- */

footer {
	padding: 20px;
	min-height: 200px;
}

footer {
		background-image: linear-gradient( to top, #6a7b90, #536173 25%, #6b7c91 25%, #6f7f92 85%, #607083 90%, #424b57 95%, #a2b2c6 95% );
}

footer p {
	font-size:   14px;
	text-align:  center;
	text-indent: 0px;
	font-weight: bold;
	text-transform: uppercase;
/* 	font-style: italic; */
/* 	letter-spacing: 1px; */
	color: #afcaec;
	
/* 	text-shadow: 0px -1px #536173; */

}

footer #social-media {
	margin-top: 68px;
	width: 48px;
	margin-left: auto;
	margin-right: auto;
}

/* ---------------------------------------------------------------- */
/* Sections
/* ---------------------------------------------------------------- */

.section { width: 100%; }

/* Set standard size for section content containers and centre them horizontally. */
.section .content {
	padding:        20px;
	max-width:    1000px;
	margin-left:    auto;
	margin-right:   auto;
}

/* Set starndard font sizes for all sections. */
.section h2 { font-size: 30px; }
.section p  { font-size: 20px; }

/* ---------------------------------------------------------------- */
/* Section styles
/* ---------------------------------------------------------------- */

/* Intro section */
#intro.section     { background-color: #ffffff;     } /* White */
#intro.section h2  { color:            #5eabed;     } /* Seabed */
#intro a:link      { color:            #5eabed;     } /* Seabed */
#intro a:visited   { color:            #5eabed;     } /* Seabed */
#intro a:hover     { color:            #fd207c;     } /* Red alert */
#intro.section p   { color:            #8ba6a8;     } /* Dark sand green */
#intro p           { font-weight: bold;             }

/* Characters section */
#chara.section     { background-color: #c3d9db;     } /* Ice blue */
#chara.section h2  { color:            #5eabed;     } /* Seabed */
#chara a:link      { color:            #5eabed;     } /* Seabed */
#chara a:visited   { color:            #5eabed;     } /* Seabed */
#chara a:hover     { color:            #fd207c;     } /* Red alert */
#chara.section p   { color:            #6a7b90;     } /* Dark sand green */
#chara p           { font-weight: bold;             }

/* Santa Maria section */
#maria.section     { background-color: #2b3031;     } /* Charcoal */
#maria.section h2  { color:            #5eabed;     } /* Seabed */
#maria a:link      { color:            #5eabed;     } /* Seabed */
#maria a:visited   { color:            #5eabed;     } /* Seabed */
#maria a:hover     { color:            #e5f4e9;     } /* Glowworm green */
#maria.section p   { color:            #a0d6d3;     } /* Readout green */
#maria p           { font-weight: bold;             }

/* Book 2 section */
#book2.section    { background-color: transparent; } /* Transparent */
#book2.section h2 { color:            #fd207c;     } /* Red alert */
#book2 a:link     { color:            #fd207c;     } /* Red alert */
#book2 a:visited  { color:            #fd207c;     } /* Red alert */
#book2 a:hover    { color:            #a0d6d3;     } /* Readout green */
#book2.section p  { color:            #ffffff;     } /* White */
#book2 p          { font-weight: bold;             }

/* About section */
#about.section     { background-color: #2b3031;     } /* Charcoal */
#about.section h2  { color:            #5eabed;     } /* Seabed */
#about a:link      { color:            #5eabed;     } /* Seabed */
#about a:visited   { color:            #5eabed;     } /* Seabed */
#about a:hover     { color:            #e5f4e9;     } /* Glowworm green */
#about.section p   { color:            #a0d6d3;     } /* Readout green */
#about p           { font-weight: bold;             }

/* ---------------------------------------------------------------- */
/* Sections design elements
/* ---------------------------------------------------------------- */

.lozenge {
	max-width: 1000px;
	padding: 10px;
	background-color: #cddaec;
	border-radius: 12px;
	margin-top: 30px;
}
.lozenge p {
	color: #476170 !important;
	text-align: center;
}
.lozenge p span.red {
	color: #e51967 !important;
}

.hazard {
	height: 20px;
	width: 100%;
	background-image: url("../images/hazard.jpg");
}