/* ---------------------------------------------------------------- */
/* - INFORMATION -------------------------------------------------- */
/* ---------------------------------------------------------------- */
/*
/*   This file should contain only elements' colour information.
/*   It may contain attributes like borders, where the borders'
/*   colours are specified.
/*
/* ---------------------------------------------------------------- */
/* -------------------------------------------------- INFORMATION - */
/* ---------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Main page sections
/* ---------------------------------------------------------------- */

/*
header { background-color: #5eabed; }
footer { background-color: #5eabed; }
*/

/* ---------------------------------------------------------------- */
/* Headings and text
/* ---------------------------------------------------------------- */

/* General headings and text */

h1                     { color: #bada55; }
h2, h3, h4, h5, h6     { color: #bada55; }
p                      { color: #6a7b90; }
ul, ol, li             { color: #6a7b90; }


/* ---------------------------------------------------------------- */
/* Sections
/* ---------------------------------------------------------------- */

#section1    { background-color: #ffffff; }
#section1 h2 { color:            #85bff1; }
#section1 p  { color:            #6a7b90; }

#section2    { background-color: #c3d9db; }
#section2 h2 { color:            #5eabed; }
#section2 p  { color:            #6a7b90; }

#section3    { background-color: #ffffff; }
#section3 h2 { color:            #85bff1; }
#section3 p  { color:            #6a7b90; }

#section4    { background-color: #9cbcb9; }
#section4 h2 { color:            #2e576e; }
#section4 p  { color:            #485a70; }

#section5    { background-color: #ffffff; }
#section5 h2 { color:            #85bff1; }
#section5 p  { color:            #6a7b90; }