/* ---------------------------------------------------------------------------------------- */
/* - INFORMATION -------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/*   
/*   This file should contain no information about an element's colour, including border,
/*   gradients and the like.  Keep colour information in the separate
/*   style-colour-scheme.css file.
/*
/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- INFORMATION - */
/* ---------------------------------------------------------------------------------------- */

.clearboth { clear: both; }

/* ---------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------- */

img { max-width: 100%; height: auto; }

/* ---------------------------------------------------------------- */
/* Fonts
/* ---------------------------------------------------------------- */

/* Text styles */
.content p { line-height: 25px; /* text-align: justify; */ /* text-indent: 20px; */ /* Indent body text's first line */ }
.italic    { font-style: italic; }

/* ---------------------------------------------------------------- */
/* Google Fonts
/* ---------------------------------------------------------------- */

h1         { font-family: "Coda", cursive; font-style: italic; margin-top:  0px; text-transform: uppercase; font-weight: normal; }
h2, h3     { font-family: "Coda", cursive; font-style: italic; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; font-weight: normal; }
p          { font-family: "Roboto", Helvetica, Arial, sans-serif; margin-top: 0px; }
nav p      { font-family: "Roboto", cursive; text-transform: uppercase; font-weight: bold; }
footer p   { font-family: "Roboto", cursive; margin-top: 10px; margin-bottom: 10px; font-weight: normal; }
ul, ol, li { font-family: "Roboto", Helvetica, Arial, sans-serif; }

/* ---------------------------------------------------------------- */
/* Links
/* ---------------------------------------------------------------- */

a:link    { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover   { text-decoration: none; }
a:active  { text-decoration: none; }

/* ---------------------------------------------------------------- */
/* Page layout and sections setup
/* ---------------------------------------------------------------- */

body { margin: 0px; }

#starry-starry-night {
	width: 100%;
	height:100%;
	background-image: url("../images/starfield.jpg");
	background-size: cover;
	position: fixed;
	z-index:-1;
}

/* ---------------------------------------------------------------- */
/* Persistant navbar
/* ---------------------------------------------------------------- */

nav, nav .container, nav .button {
	height: 50px;
}

nav {
	width: 100%;
	background-color: rgba(10, 80, 165, 0.8);
	position: fixed;
}

nav .container {
	width: 320px;
	margin-left:  auto;
	margin-right: auto;
}

nav .button {
	width: 70px;
	margin-left:  5px;
	margin-right: 5px;
	float: left;
}

nav .button p {
	color: #fff;
	text-align: center;
	margin: 0px;
	padding-top: 16px;
}

/* ---------------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------------- */

header {
	margin: 0px;
	padding: 20px 20px 34px 20px;
	background-color: #286ec3; /* Bold blue */
	border-top: 50px solid #286ec3; /* We're using a 50px border-top here as the initial background for the persistant navbar */
	height: 200px;
}

header {
	background-color: #14437e; /* Deeper blue */
	background-color: #286ec3; /* Bold blue */
}

header h1, header h2 {
	text-align:     center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom:  0px;
	color:          #fff;
	word-break:     break-word;
}

header h1 { margin-top: 60px; font-size: 40px; }
header h2 { margin-top:  0px; font-size: 16px; }

/* ---------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------- */

footer {
	padding: 20px;
	min-height: 200px;
}

footer {
	background-image: linear-gradient( to top, #6a7b90, #536173 25%, #6b7c91 25%, #6f7f92 85%, #607083 90%, #424b57 95%, #a2b2c6 95% );
}

footer p {
	font-size:   14px;
	text-align:  center;
	text-indent: 0px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

footer #social-media {
	margin-top: 68px;
	width: 48px;
	margin-left: auto;
	margin-right: auto;
}

/* ---------------------------------------------------------------- */
/* Sections
/* ---------------------------------------------------------------- */

.section { width: 100%; }

/* Set standard size for section content containers and centre them horizontally. */
.section .content {
	padding:      50px 20px 50px 20px; /* Added 50px padding at the bottom to ensure the persistant navbar doesn't overlap the bottom of the content. */
	max-width:    1000px;
	margin-left:  auto;
	margin-right: auto;
}

/* Set starndard font sizes and style for all sections. */
.section h2 { font-size: 30px; }
.section h3 { font-size: 26px; }
.section p  { font-size: 20px; font-weight: bold; }

/* ---------------------------------------------------------------- */
/* Section styles
/* ---------------------------------------------------------------- */

/* Down to Earth section */
#earth                          { background-color: #ffffff;     } /* White */
#earth h2, #intro h3            { color:            #5eabed;     } /* Seabed */
#earth a:link, #intro a:visited { color:            #5eabed;     } /* Seabed */
#earth a:hover                  { color:            #fd207c;     } /* Red alert */
#earth p                        { color:            #8ba6a8;     } /* Dark sand green */

/* Characters section */
#chara                          { background-color: #c3d9db;     } /* Ice blue */
#chara h2, #chara h3            { color:            #5eabed;     } /* Seabed */
#chara a:link, #chara a:visited { color:            #5eabed;     } /* Seabed */
#chara a:hover                  { color:            #fd207c;     } /* Red alert */
#chara p                        { color:            #6a7b90;     } /* Dark sand green */

/* Santa Maria section */
#maria                          { background-color: transparent; } /* Transparent */
#maria h2, #maria h3            { color:            #fd207c;     } /* Red alert */
#maria a:link, #maria a:visited { color:            #fd207c;     } /* Red alert */
#maria a:hover                  { color:            #a0d6d3;     } /* Readout green */
#maria p                        { color:            #ffffff;     } /* White */

/* About section */
#about                          { background-color: #2b3031;     } /* Charcoal */
#about h2, #about h3            { color:            #5eabed;     } /* Seabed */
#about a:link, #about a:visited { color:            #5eabed;     } /* Seabed */
#about a:hover                  { color:            #e5f4e9;     } /* Glowworm green */
#about p                        { color:            #a0d6d3;     } /* Readout green */

/* ---------------------------------------------------------------- */
/* Sections design elements
/* ---------------------------------------------------------------- */

.hazard {
	height: 20px;
	width: 100%;
	background-image: url("../images/hazard.jpg");
}

/* ---------------------------------------------------------------- */
/* For Sale advert
/* ---------------------------------------------------------------- */

.advert {
	max-width: 340px;
	padding: 10px;
	border-radius: 12px;
	border: 1px solid #666;
	
	float: right;
	margin-left: 20px;
	
	background-image: linear-gradient(to top right, #fff 0%, #eee 60%, #fff 75%, #eee 90%);
}
.advert p {
	text-align: center;
	line-height: 30px;
}
.advert p.for-sale { color: #e51967 !important; font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-transform: uppercase; }
.advert p.blurb    { color: #476170 !important; font-size: 22px; margin-top:  0px; margin-bottom:  0px; }
.advert p.price    { color: #e51967 !important; font-size: 18px; margin-top: 10px; margin-bottom: 20px; text-transform: uppercase; }