/* ---------------------------------------------------------------- */
/* - INFORMATION -------------------------------------------------- */
/* ---------------------------------------------------------------- */
/*   
/*   This file should contain no information about an element's
/*   colour, including border, gradients and the like.  Keep colour
/*   information in the separate style-colour-scheme.css file.
/*
/* ---------------------------------------------------------------- */
/* -------------------------------------------------- INFORMATION - */
/* ---------------------------------------------------------------- */



@media all and (min-width: 481px) and (max-width: 720px) {
	
	/* ---------------------------------------------------------------- */
	/* Switch from desktop to mobile navbar menus
	/* ---------------------------------------------------------------- */
	
	nav.desktop { display: none;  }
	nav.mobile  { display: block; }
	
	/* ---------------------------------------------------------------- */
	/* Header
	/* ---------------------------------------------------------------- */
	
	header.site-header p.credit {
		margin-bottom: 15px;
	}
	
	/* ---------------------------------------------------------------- */
	/* Glossary
	/* ---------------------------------------------------------------- */
	
	.glossary .link-button {
		width:   40px;
		padding: 10px;
		
		margin-left:   5px;
		margin-right:  5px;
		margin-top:    5px;
		margin-bottom: 5px;
	}
	
}