/* ---------------------------------------------------------------- */
/* - INFORMATION -------------------------------------------------- */
/* ---------------------------------------------------------------- */
/*   
/*   This file should contain no information about an element's
/*   colour, including border, gradients and the like.  Keep colour
/*   information in the separate style-colour-scheme.css file.
/*
/* ---------------------------------------------------------------- */
/* -------------------------------------------------- INFORMATION - */
/* ---------------------------------------------------------------- */



@media all and (min-width: 0px) and (max-width: 320px) {
	
	/* ---------------------------------------------------------------- */
	/* Switch from desktop to mobile navbar menus
	/* ---------------------------------------------------------------- */
	
	nav.desktop { display: none;  }
	nav.mobile  { display: block; }
	
	/* ---------------------------------------------------------------- */
	/* Text styles
	/* ---------------------------------------------------------------- */
	
	/* Quotes and citations */
	.content .blockquote {
/*
		margin:  40px 0px 0px 0px;
		padding:  2px 0px 2px 20px;
*/
	}
	.content .blockquote p {
		font-size: 20px;
		line-height: 22px;
		margin: 10px 0px;
	}
	/* No left align on mobile - there's not enough room. */
	.content .citation.left, .content .citation.left { margin:  10px 10px 40px 0px; }
	.content .citation.left p, .content .citation.right p { text-align: right; }
	
	.featured-image-frame {
		display: none;
	}
	
	/* ---------------------------------------------------------------- */
	/* Header
	/* ---------------------------------------------------------------- */
	
	header.site-header p.credit {
		margin-bottom: 15px;
	}
	
	/* ---------------------------------------------------------------- */
	/* Characters
	/* ---------------------------------------------------------------- */
	
	.character-image-frame {
		float: none;
		/* Centre the image now we're on a small screen */
		margin-left:  auto;
		margin-right: auto;
	}
	
	/* ---------------------------------------------------------------- */
	/* Glossary
	/* ---------------------------------------------------------------- */
	
	.glossary .link-button {
		width:   40px;
		padding: 10px;
		
		margin-left:   5px;
		margin-right:  5px;
		margin-top:    5px;
		margin-bottom: 5px;
	}
	
}